@using Logic_Interfaces_SuperElf
@model UI_SuperElf.Models.ClubCreateViewModel

@{
    ViewData["Title"] = "Add club";
}

<h1>Add club</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="clubId" class="control-label" hidden></label>
                <input asp-for="clubId" class="form-control" hidden />
                <span asp-validation-for="clubId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clubName" class="control-label"></label>
                <input asp-for="clubName" class="form-control" />
                <span asp-validation-for="clubName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="competitionId" class="control-label"></label>
                <select asp-for="competitionId" class="form-control">
                    @foreach (ICompetition competition in @Model.allCompetitions)
                    {
                        <option value="@competition.competitionId">
                            @competition.competitionName
                        </option>
                    }
                </select>
                <span asp-validation-for="competitionId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" /> 
                <a class="btn btn-danger" asp-action="Index">Back to clubs</a>
            </div>
        </form>
    </div>
</div>