@using Logic_SuperElf
@model ClubPipeline

@{
    ViewData["Title"] = "Index";
}

<h1>Clubs</h1>

<table class="table">
    <thead class="table-borderless table-dark" style="background-color: rgb(0,142,68)">
    <tr>
        <th>
            Name
        </th>
        <th>
            Competition
        </th>
        <th style="width: 20%">
            <a class="btn-sm btn-danger" asp-action="Create">Add club</a>
        </th>
    </tr>
    </thead>
    <tbody>
@foreach (ClubViewModel club in Model.Clubs) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => club.clubName)
            </td>
            <td>
                @foreach (Competition competition in Model.Competitions)
                {
                    if (club.competition == competition.competitionId)
                    {
                        @Html.DisplayFor(modelItem => competition.competitionName)
                        break;
                    }
                }
            </td>
            <td>
                <div>
                    <a class="btn-sm" style="background-color: rgb(0, 142, 68); color: white" asp-action="Details" asp-route-id="@club.clubId">Details</a> | 
                    <a class="btn-sm btn-danger" asp-action="Delete" asp-route-id="@club.clubId">Delete</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
